VITE_SESSION_SECRET=your-session-secret
VITE_API_HOST=your-api-host
# Redis Configuration
VITE_REDIS_HOST=your-redis-host
VITE_REDIS_PORT=your-redis-port
VITE_REDIS_PASSWORD=your-redis-password
VITE_REDIS_DB=0
VITE_REDIS_CLUSTER=false
VITE_REDIS_CLUSTER_NODES=
VITE_REDIS_PREFIX=your-redis-prefix:
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=