SESSION_SECRET=your-session-secret
API_HOST=your-api-host
# Redis Configuration
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port
REDIS_PASSWORD=your-redis-password
REDIS_DB=0
REDIS_CLUSTER=false
REDIS_CLUSTER_NODES=
REDIS_PREFIX=your-redis-prefix:
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=